<div class="clear margin10 result_search_style">
  <div class="col-md-2 nopadding img_search_suggestion">
    <%= gravatar_for_table search_dishes %>
  </div>
  <div class="col-md-10 content_result">
    <%= link_to dish_path(search_dishes) do %>
      <%= search_dishes.name %>
    <% end %>
    <p class="price"><%= number_to_currency search_dishes.price %></p>
  </div>
</div>
