<div class="clear margin10 result_search_style">
  <div class="col-md-2 nopadding">
    <%= image_tag gravatar_for_table search_dishes %>
  </div>
  <div class="col-md-10 content_result">
    <a href=""><%= search_dishes.name %></a>
    <p class="price"><%= number_to_currency search_dishes.price %></p>
  </div>
</div>
