<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
  <div class="item-menu-grid-view-mixed-mqn">
    <div class="ot-portfolio-item">
      <figure class="effect-bubba">
        <%= gravatar_for_table dishes %>
        <figcaption></figcaption>
      </figure>
    </div>
    <div class="item-detail-text-menu-mixed">
      <h1><%= dishes.name %></h1>
      <p><%= dishes.description %></p>
      <h2>
        <sup></sup><%= number_format dishes.price %>
      </h2>
    </div>
  </div>
</div>
