<section id="menu-grid-view-mixed-mqn">
  <div class="container">
    <div class="title-menu-grid-view-mixed-mqn">
      <h1><%= @menu_data.name %></h1>
    </div>
    <%= render partial: "menus/dishes", collection: @dishes, as: :dishes %>
  </div>
  <div class="boder-bottom-menu-mixed3"></div>
</section>
