<% provide(:title, t("signup")) %>
<% provide(:button_text, t("users.register")) %>
<section id="book-a-table-pro">
  <div class="container">
    <h1><%= t "users.register" %></h1>
  </div>
  <div class="container">
    <div class="col-md-offset-4 col-md-6">
      <div class="fix-background-book-table item-input-pro-footer ">
        <div class="col-xs-10 col-sm-9 col-md-9 col-lg-10 form-group">
          <%= render "users/form" %>
        </div>
      </div>
      <div class="boder-bottom-foter-pro2"></div>
    </div>
  </div>
</section>
