<tr>
  <td><%= booking_detail.dish.name %></td>
  <td><%= booking_detail.quantity %></td>
  <td><%= number_format booking_detail.price %></td>
  <td><%= number_format booking_detail.quantity * booking_detail.price %></td>
</tr>
