<section id="featured-pro-main-mqn">
  <div class="container table">
    <%= render @tables %>
    <div class="margin_bottom20px float_right table--style_paginate">
      <%= paginate @tables, theme: "twitter-bootstrap-3" %>
    </div>
  </div>
</section>
