<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
  <div class="item-menu-grid-view-mixed-mqn">
    <div class="ot-portfolio-item">
      <figure class="effect-bubba">
        <figcaption></figcaption>
      </figure>
    </div>
    <div class="item-detail-text-menu-mixed">
      <h1><%= dish.name %></h1>
      <p><%= dish.description %></p>
      <h2>
        <%= number_format dish.price %>
      </h2>
    </div>
  </div>
</div>
