<% categories.each.with_index 1 do |category, index| %>
  <tr>
    <td>
      <%= index %>
    </td>
    <td>
      <%= category.name %>
    </td>
    <td>
      <%= category.status %>
    </td>
    <td>
      <%= link_to t("edit"), edit_admin_category_path(category),
        class: "btn btn-primary" %>
    </td>
  </tr>
<% end %>
