$color_load_more: #fea100;
$color_comment_box: #f5f5f5;
$color_comment_box_border: #ddd;
$color_label_star: #444;
$input_star_checked : #FD4;
$color_shadow_label: #952;
$color_label_star_checked: #FE7;
$color_star_default: #F62;
$type_table_green: #3bbf76;
$color_gray_01: #e8edef;
$color_white: white;
$color_blue_01: #03a9f4;
$color_pink: #e2599b;
$color_gray3c: #ccc;
$color_red: red;
