<div class="nested-fields">
  <div class="inline">
    <%= f.file_field :url, accept: Settings.settings.accept_file %>
  </div>
  <div class="inline wd-80">
    <% if f.object.persisted? %>
      <%= image_tag f.object.url, size: Settings.settings.size_image %>
    <% end %>
  </div>
  <div class="inline">
    <%= link_to_remove_association t(".remove"), f %>
  </div>
</div>
