<% provide :title, t("admin.table.edit_table") %>
<% provide :button_text, t("admin.table.save_table") %>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h1><%= t "admin.table.edit_table" %></h1>
          <%= render "form" %>
      </div>
    </div>
  </div>
</div>
